* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: black;
  height: 100vh;
  text-align: center;
  align-content: center;
}

h1 {
  font-size: 150px;
  background: linear-gradient(
    135deg,
    red 0%,
    #43de00 25%,
    purple 50%,
    blue 75%,
    red 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400%;
  animation: myanimation 10s linear infinite;
}

@keyframes myanimation {
  100% {
    background-position: 400%;
  }
}
