@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
  
}

.div {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 700px;
  height: 850px;
  padding: 4%;
  box-sizing: border-box;
}
form {
  box-sizing: border-box;
}
form h3 {
  text-align: center;
  margin: 2%;
}
.address {
    margin: 12px 0px;
}
.address p{
    padding: 5px 0px;
}
.address input{
    width: 100%;
    margin: 5px 0px;
    font-size: 18px;
    padding: 3px 7px;
}
.rc {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}
.rc input,
select {
  width: 48%;
  height: 53px;
  text-align: left;
  padding: 2px 8px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  font-size: 18px;
}

button {
  width: 100%;
  color: white;
  background-color: palevioletred;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 2% 1%;
  margin: 4% 0%;
}
