body{
    margin: 0;
    padding: 0;
    background-color: aqua;
   
}

.card{
    background-color: white;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 25% auto;
    border-radius: 22px;
    padding: 2% ;
}
.switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.switch input[type="checkbox"]{
    height: 0;
    width: 0;
}

.slide{
    height: 25px;
    width: 50px;
    background-color: aqua;
    position: relative;
    border-radius: 22px;
}
.slider::before{
    content: "";
    
    box-sizing: border-box;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: -0%;
    right: 0%;
    background-color: grey;
}

